<footer class="col-span-2 row-start-3 bg-gray-light border-t-2 border-borders-and-btn text-white text-center p-4 ">
    <p>Mady By <a class="underline text-stone-400" href="https://github.com/Alicelspires">Alice Silva</a> | @2025. All Rights Reserved</p>
</footer>