<aside class="row-start-2 bg-gray-light w-48 h-full absolute md:relative text-white text-center p-8">
    <ul class="flex flex-col gap-4">
        <a id="nav-side" href="/">
            <li class="hover:bg-gray-lighter rounded-lg p-2">
            Home</li>
        </a>
        <a id="nav-side" href="/books">
            <li class="hover:bg-gray-lighter rounded-lg p-2">
            Inventory</li>
        </a>
        <a id="nav-side" href="/books/new">
            <li class="hover:bg-gray-lighter rounded-lg p-2">
            New Book</li>
        </a>
    </ul>
</aside>