<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet">
  <title>New Book</title>
</head>
<body class="min-h-screen grid grid-cols-[180px_1fr] grid-rows-[auto_1fr_auto]">

    <%- include('components/navbar.ejs'); -%>
    <%- include('components/sidebar.ejs');-%>

    <main class="row-start-2 col-start-2 bg-gray-dark flex flex-col justify-center items-center text-white">
      <%- include('components/form.ejs', {book: "", genres, errors, mode: "create"}); -%>
    </main>

    <%- include('components/footer.ejs'); -%>
    <script src="/js/sidebar.js"></script>
    <script src="/js/genreTags.js"></script>
    <script src="/js/bookCover.js"></script>
</body>
</html>