@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-titles: "Cormorant Upright", serif;
    --font-text:"Oswald", sans-serif;

    --color-icons: #ecb476;
    --color-btn-hover: #E0CA65;
    --color-borders-and-btn: #C9B55A;
    --color-btn-attention: #101010;

    --color-gray-lighter: #57564E;
    --color-gray-light: #36352F;
    --color-gray-dark: #201F1C;
}